/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2015, 7:33:37 PM
    Author     : BoHyu_000
*/


img{
    width:200px;
    height:300px;
}
label 
{
    display: inline;
    width: 150px;
    position:relative;
}
